{:deps {vvvvalvalval/scope-capture {:mvn/version "0.3.2"}
        nrepl/nrepl {:mvn/version "1.7.0"}
        cider/cider-nrepl {:mvn/version "0.62.2"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.14.0"}
        ;; This causes /Users/eli/.clojure/src/user.clj to be evaluated
        global/user-clj {:local/root "/Users/eli/.clojure/"}}}
